<%= form_with(model: couple, local: true) do |form| %>
  <% if couple.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(couple.errors.count, "error") %> prohibited this couple from being saved:</h2>

      <ul>
        <% couple.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :anniversary %>
    <%= form.datetime_select :anniversary %>
  </div>

  <div class="field">
    <%= form.label :partner_email %>
    <%= form.text_field :partner_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>