<%= form_with(model: countdown, local: true) do |form| %>
  <% if countdown.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(countdown.errors.count, "error") %> prohibited this countdown from being saved:</h2>

      <ul>
        <% countdown.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field my-4" style="text-align: left">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="field my-4" style="text-align: left">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="actions my-4">
    <%= form.submit %>
  </div>
<% end %>