<p id="notice"><%= notice %></p>

<h1>Countdowns</h1>

<table>
  <thead>
    <tr>
      <th>Couple</th>
      <th>Name</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countdowns.each do |countdown| %>
      <tr>
        <td><%= countdown.couple_id %></td>
        <td><%= countdown.name %></td>
        <td><%= countdown.date %></td>
        <td><%= link_to 'Show', countdown %></td>
        <td><%= link_to 'Edit', edit_countdown_path(countdown) %></td>
        <td><%= link_to 'Destroy', countdown, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Countdown', new_countdown_path %>
